Source: ipshifter
Section: utils
Priority: medium
Maintainer: Kiuyha <ketutshridhara@gmail.com>
Build-Depends: debhelper-compat (= 13), cargo
Standards-Version: 4.5.1
Homepage: https://

Package: ipshifter
Architecture: amd64
Depends: tor (>=0.4), ${shlibs:Depends}, ${misc:Depends}
Description: A simple IP shifter tool that can change ip address in specific interval using TOR.
